<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/my-collection.css" type="text/css" />

  <!-- JavaScript Scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>


<body>
  <%- include('partials/_header') %>

  <div class="mycoll-heading">
    <h1>My Collection</h1>
  </div>

  <main class="mycoll-main">
    <article class="mycoll-article">
    <header class="mycoll-ad-info">
      <h6>Ad Title</h6>
      <h6>Size</h6>
      <h6>Price</h6>
    </header>
    <section class="mycoll-ad-content">
      <img src="https://images.unsplash.com/photo-1607522370275-f14206abe5d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1121&q=80" width="200" height="200">
      <p class="mycoll-ad-desc">Flannel schlitz sriracha crucifix actually, synth keffiyeh four dollar toast heirloom pour-over locavore tilde. Unicorn kitsch tumblr gentrify, literally 8-bit shaman trust fund poutine organic plaid authentic.</p>
    </section>
    <footer class="mycoll-footer">
      <button type="submit" class="btn btn-outline-primary">Edit</button>
      <button type="submit" class="btn btn-outline-primary mycoll-footer-btns">Delete</button>
      <button type="submit" class="btn btn-outline-primary">Mark as Sold</button>
    </footer>
    </article>

    <article class="mycoll-article">
    <header class="mycoll-ad-info">
      <h6>Ad Title</h6>
      <h6>Size</h6>
      <h6>Price</h6>
    </header>
    <section class="mycoll-ad-content">
      <img src="https://images.unsplash.com/photo-1612724271076-24c0a3bade29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80" width="200" height="200">
      <p class="mycoll-ad-desc">Literally austin artisan, yes plz leggings fanny pack kitsch glossier pabst normcore tofu semiotics adaptogen godard. Sriracha PBR&B raclette tousled, organic pitchfork hella humblebrag pinterest. Art party 8-bit kale chips leggings four dollar toast wayfarers whatever la croix butcher.</p>
    </section>
    <footer class="mycoll-footer">
      <button type="submit" class="btn btn-outline-primary">Edit</button>
      <button type="submit" class="btn btn-outline-primary mycoll-footer-btns">Delete</button>
      <button type="submit" class="btn btn-outline-primary">Mark as Sold</button>
    </footer>
    </article>

    <article class="mycoll-article">
    <header class="mycoll-ad-info">
      <h6>Ad Title</h6>
      <h6>Size</h6>
      <h6>Price</h6>
    </header>
    <section class="mycoll-ad-content">
      <img src="https://images.unsplash.com/photo-1613489647684-4dc8c9948245?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" width="200" height="200">
      <p class="mycoll-ad-desc">Kombucha four loko cred next level. Before they sold out heirloom brooklyn banh mi cornhole. Seitan fixie air plant cold-pressed. Locavore humblebrag yuccie shaman. Gochujang tote bag vinyl plaid keytar cliche. Kogi four dollar toast 90's, shoreditch bushwick selvage messenger bag freegan. Hoodie readymade vinyl wolf. Roof party woke aesthetic hashtag, cronut sartorial fam disrupt yes plz.</p>
    </section>
    <footer class="mycoll-footer">
      <button type="submit" class="btn btn-outline-primary">Edit</button>
      <button type="submit" class="btn btn-outline-primary mycoll-footer-btns">Delete</button>
      <button type="submit" class="btn btn-outline-primary">Mark as Sold</button>
    </footer>
    </article>
  </main>
</body>
</html>
