<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FindersSneakers</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/sell-sneaker.css" type="text/css" />

  <!-- JavaScript Scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <%- include('partials/_header') %>

  <div class="sell-heading">
    <h1>Post New Sneaker Ad</h1>
  </div>

  <main class="sell-main">
    <form method="POST" action="/sneakers" class="sell-form">
      <div class="create-post-info">
        <label for="title">Title:</label>
        <input id="title" type="text" name="title" placeholder="Title" size="30">
      </br>
        <label for="size_id">Size:</label>
        <select id="size_id" name="size_id" placeholder="Shoe Size">
          <option value = "1">Size 1</option>
          <option value = "2">Size 2</option>
          <option value = "3">Size 3</option>
          <option value = "4">Size 4</option>
          <option value = "5">Size 5</option>
          <option value = "6">Size 6</option>
          <option value = "7">Size 7</option>
          <option value = "8">Size 8</option>
          <option value = "9">Size 9</option>
          <option value = "10">Size 10</option>
          <option value = "11">Size 11</option>
          <option value = "12">Size 12</option>
          <option value = "13">Size 13</option>
          <option value = "14">Size 14</option>
          <option value = "15">Size 15</option>
        </select>
        <label for="brand_id">Brand:</label>
        <select id="brand_id" name="brand_id" placeholder="Shoe Brand">
          <option value = "1">Jordan</option>
          <option value = "2">Nike</option>
          <option value = "3">Adidas</option>
          <option value = "4">Reebok</option>
          <option value = "5">Skechers</option>
        </select>
        <label for="price">Price:</label>
        <input id="price" type="text" name="price" placeholder="Price" size="6">
      </div>
        <label for="ad_description">Description</label>
        </br>
        <textarea name="ad_description" id="ad_description" placeholder="Enter description" rows="5" cols="60"></textarea>
        </br>
        <label for="ad_photo">Photo</label>
        </br>
        <input id="ad_photo" type="text" name="ad_photo" placeholder=" https://" size="40">
        </br>
        <input type="submit" class="btn btn-outline-primary create-post-btn">
    </form>
  </main>
</body>
</html>
