.browse-heading {
  text-align: center;
}

.filter {
  text-align: center;
  margin-bottom: 20px;
}

.filter-input {
  margin-right: 10px;
}

.browse-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 1px solid #000000;
  width: 70%;
  margin: 0 auto;
}

.ad-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ad-pic-text {
  display: flex;
}

.browse-footer {
  display: flex;
}
