.browse-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 5px solid blue;
  width: 90%;
  margin: 0 auto;
}

.ad-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ad-pic-text {
  display: flex;
}

.browse-footer {
  display: flex;
}
