.browse-heading {
  text-align: center;
}

.filter {
  text-align: center;
  margin-bottom: 20px;
}

.filter-input {
  margin-right: 10px;
}

.browse-main {
  width: 70%;
  margin: 0 auto;
}

.browse-article {
  padding-bottom: 5px;
  border: 1px solid #000000;
}

.browse-ad-info {
  display: flex;
  flex-direction: row;
}

.browse-ad-info > h6 {
  padding-right: 15px;
}

.browse-ad-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.browse-ad-desc {
  padding-left: 10px;
}

.browse-footer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.browse-footer > p {
  padding-right: 10px;
}

.browse-btns {
  margin-right: 10px;
}
