.mc-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 5px solid blue;
  width: 90%;
  margin: 0 auto;
}

.mc-ad-price-size {
  display: flex;
  flex-direction: row;
}
